$mdc-theme-primary: #DEDEDE;
$mdc-theme-secondary: #311B92;
$mdc-theme-on-primary: black;
$mdc-theme-on-secondary: white;


@import '../../node-modules/@material/typography/mdc-typography.scss';
@import '../../node-modules/@material/top-app-bar/mdc-top-app-bar.scss';
@import '../../node-modules/@material/list/mdc-list.scss';
@import '../../node-modules/@material/card/mdc-card.scss';
@import '../../node-modules/@material/button/mdc-button.scss';
@import '../../node-modules/@material/tab/mdc-tab.scss';
@import '../../node-modules/@material/icon-button/mdc-icon-button.scss';
@import '../../node-modules/@material/theme/mdc-theme.scss';
@import '../../node-modules/@material/drawer/mdc-drawer.scss';


.site-header {
  flex-direction: row;
}

.header-nav-wrapper {
  justifY-content: flex-end;
}

.header-nav {
  display: flex;
}

.wide-screen-only {
  padding-top: 42px;
  visibility: visible;
}

.show-drawer {
  visibility: hidden;
}

.site-logo {
  max-height: 50px;
}

.post-card {
  width: 30%;
  margin: 48px 0; }

.recent-posts .card-set-wrapper {
  display: flex;
  justify-content: space-around;
}

.hero {
  background-image: url('/images/uploads/dac-group-1.jpg');
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  margin-bottom: 50px;
}

.hero-wrapper {
  display: block;
  background-color: whitesmoke;
}

.hero-text {
  display: inline-block;
}

@media (max-width: 801px) {
  .show-drawer {
    visibility: show;
  }
}