<div class="mdc-top-app-bar site-header" role="navigation">
  <div class="mdc-top-app-bar__section site-logo-wrapper">
    <a class="mdc-top-app-bar__title" href="{{ .Site.BaseURL }}" class="site-logo">
      <img class="site-logo" src="{{.Site.BaseURL}}images/tf-logo-on-dark.png" alt="Tony Foundation">
    </a>
  </div><!--site-logo-wrapper-->

  <nav class="mdc-top-app-bar__section mdc-top-app-bar__section--align-right">
    <ul class="mdc-list header-nav">
      <li class="mdc-list-item"><span class="mdc-list-item__text">About</span></li>
      <li class="mdc-list-item"><span class="mdc-list-item__text">Blog</span></li>
      <li class="mdc-list-item"><span class="mdc-list-item__text">Events</span></li>
      <li class="mdc-list-item"><span class="mdc-list-item__text">Contact</span></li>
      <li class="mdc-list-item"><span class="mdc-list-item__text">Subscribe</span></li>
      <li class="mdc-list-item"><span class="mdc-list-item__text">Donate</span></li>
    </ul>
  </nav><!--top-app-bar__section-->

<!-- <a class="mdc-tab__content site-menu-item" href="{{ .Site.BaseURL }}#about">-->
</div><!--top-app-bar-->
